<form 
[formGroup]="fg"  
(ngSubmit)="guardar(fg.controls['Nombre'].value, fg.controls['Url'].value)">
		<div class="form-group" >
			<label	for="nombre">Nombre</label>
			<input	type="text"	class="form-control" id="Nombre"	placeholder="Ingresar nombre..." 
			formControlName="Nombre">
			<ul>
				<li *ngFor="let r of searchResults;">{{r}}</li>
			</ul>
		<!--	<div *ngIf="!fg.controls['Nombre'].valid">nombre invalido!</div>-->
			<div *ngIf="fg.controls['Nombre'].hasError('required')" class="alert alert-danger">nombre requerido!</div>
			<div *ngIf="fg.controls['Nombre'].hasError('InvalidNombre')" class="alert alert-danger">nombre invalido!</div>
			<div *ngIf="fg.controls['Nombre'].hasError('miniLongNombre')" class="alert alert-danger">nombre debe tener al menos {{miniLongitud}} de largo</div>
		</div>
		<div	class="form-group" >
			<label	for="Imagen	Url">Imagen	Url</label>
			<input	type="text"	class="form-control" id="Url" placeholder="Ingresar	url..."
			formControlName="Url">
		</div>
	<button	type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>
